.TodoInsert {
    display: flex;
    background: #D3CAD0;
    padding: .7rem;
    input {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        flex: 1;
        font-size: 2rem;
        margin-left: .5rem;
    }
    button {
        font-size: 2rem;
        border: none;
        outline: none;
        border-radius: 2rem;
    }
}